@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.page-font {
  font-family: 'Open Sans', sans-serif; 
}

.page-font-mono {
  font-family: 'Roboto Mono', monospace; 
}
